*{
    margin:0;
    border:border-box;
}
.menubar {
    height:65px;
    display:flex;
    justify-content: space-between;
}
.logo{
    height:35px;
    width:120px;
    background-image: url("Bookmyshow-logoid.png");
    background-size: cover;
   top:15px;
   position:absolute;
   left:50px;
}
.searchbar{
    width:500px;
    height: 35px;
    top:15px;
    position:absolute;
    border-radius: 3px;
    border:0.3px solid grey; 
    left:200px;
}
.search{
    width:30px;
    justify-items: center;
    position:absolute;
    top:7px;
    left:10px;
    color: gray;
    font-weight: 400;
}
.search2{
    position:absolute;
    top:7px;
    left:40px;
    color:grey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.city{
    position:absolute;
    right:200px;
    top:22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.sign{
    background-color: #F84464;
    color:white;
    height:25px;
    width:68px;
    justify-content: center;
    text-align: center;
    font-size:12px;
    top:20px;
    right:110px;
    position: absolute;
    border: none;
    border-radius: 6px;
}
.q{
    right:66px;
    top:20px;
    position:absolute;
    font-size: 25px;
    font-weight: 300;
}
.sign,.city,.q:hover{
    cursor: pointer;
}
.next{
    display:flex;
    width:100%;
    height:45px;
    justify-content: space-between;
    background-color:#F5F5F5;
    border-bottom: 1px solid rgb(230, 229, 229);
}
.first{
    height:40px;
    width:420px;
   justify-content: space-evenly;
    display:flex;
    position:relative;
    left:30px;
}
.q1,.q2,.q3,.q4,.q5,.q6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position:relative;
    top:10px;
}
.q1,.q2,.q3,.q4,.q5,.q6,.q7,.q8,.q9,.q0:hover{
    cursor: pointer;
}
.second{
    height:40px;
    width:320px;
   justify-content: space-evenly;
    display:flex;
    position:relative;
    right:45px;
}
.q7,.q8,.q9,.q0{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position:relative;
    top:10px;
}
.third{
    display:flex;
    border:none;
    justify-content: space-between;
    height:30px;
    background-color: #F5F5F5;
    position:relative;
    top:20px;
}
h2{
    position:relative;
    left:50px;
    font-family:Arial, Helvetica, sans-serif;
}
.w1{
    color:red;
    right:65px;
    position: relative;
}
.w1 i{
 font-size:10px;
 position:relative;
 right:-3px;
}
.fourth{
    width:1240px;
    height:300px;
    display:flex;
    background-image: url("b1.avif");
    background-size: cover;
    position:relative;
    left:60px;
    animation: a1 6s ease-in-out 1s infinite normal;
}
@keyframes a1{
    0%{
        background-image: url("b1.avif");
        background-size:cover;
    }
    25%{
        background-image: url("b2.avif");
        background-size:cover;
    }
    50%{
        background-image: url("b3.avif");
        background-size:cover;
    }
    100%{
        background-image: url("b4.avif");
        background-size:cover;
    }
}
.fifth{
    height:350px;
    display:flex;
    position: relative;
    top:30px;
    justify-content: space-evenly;
    
}
.i1,.i2,.i3,.i4,.i5{
    border-radius: 7px;
    width:16%;
    
}
.i1{
    background-image: url("b5.jpg");
    background-size: cover;
    background-position: center;
}
.i2{
    background-image: url("b6.jpg");
    background-size: cover;
    background-position: center;
}
.i3{
    background-image: url("b7.jpg");
    background-size: cover;
    background-position: center;
}
.i4{
    background-image: url("b8.jpg");
    background-size: cover;
    background-position: center;
}
.i5{
    background-image: url("b9.jpg");
    background-size: cover;
    background-position: center;
}
.i11{
    background-color: black;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position:relative;
    top:315px;
    display:flex;
    height:34px;
}
.i11 i{
    position:relative;
    left:12px;
    color:red;
    top:10px;
}
.i12,.i22,.i32,.i42,.i52{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    top:292px;
    left:40px;
    position:relative;
    font-size:16px;
}
.sixth{
    height:50px;
    display:flex;
    position:relative;
    top:40px;
    justify-content: space-evenly;
}
.e1,.e2,.e3,.e4,.e5{
   
    height:50px;
    display:flex;
    width:16%;
    justify-content: flex-start;
}
.sixth h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}
.seventh{
    height:40px;
    display:flex;
    position:relative;
    top:40px;
    justify-content: space-evenly;
}
.r1,.r2,.r3,.r4,.r5{
   
    height:40px;
    display:flex;
    width:16%;
    justify-content: flex-start;
    color:gray;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    bottom:3px;
}
.r2,.r3,.r4{
    position:relative;
    bottom:25px;
}
.eigth{
    background-image: url("image1.avif");
    background-position: center;
    background-size: cover;
    height:90px;
    width:1250px;
    position:relative;
    top:80px;
    left:50px;
    display:flex;
    border-radius:10px;
}
.eigth:hover{
    cursor: pointer;
}
.nineth{
    position:relative;
    left:0px;
    top:140px;
    font-family:Arial, Helvetica, sans-serif;
}
.i1,.i2,.i3,.i4,.i5:hover{
    cursor:pointer;
}
.ten{
    display:flex;
    justify-content: space-evenly;
    height:240px;
    position:relative;
    top:150px;
}
.t1,.t2,.t3,.t4,.t5{
    height:230px;
    width:210px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
.t1{
    background-image: url("ap.avif");
}
.t2{
    background-image: url("wm.avif");
}
.t3{
    background-image: url("k.avif");
}
.t4{
    background-image: url("cs.avif");
}
.t5{
    background-image: url("ms.avif");
}
.t1,.t2,.t3,.t4,.t5:hover{
    cursor: pointer;
}
.eleven{
    height:600px;
    position:relative;
    top:200px;
    background-color: #2B3148;
}
.pause{
    height:60px;
    width:60px;
    border-radius:50%;
    background-color: rgb(211, 30, 30);
    color:white;
    position:relative;
    top:40px;
    left:70px;
}
.pause i{
    position:relative;
    top:12px;
    left:18px;
    font-size: 37px;
}
.pause h3{
    color:white;
    position:relative;
    bottom:37px;
    left:80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    letter-spacing: 3px;
}
p{
    color:rgb(230, 229, 229);
    font-size:12px;
    left:150px;
    top:17px;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
}
.y1{
    font-size: 25px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    top:75px;
    left:70px;

}
.y1 p{
    position: relative;
    left:-1px;
    top:-1px;
    font-size: 14px;
}
.y2{
    display:flex;
    height:320px;
    width:93%;
    position:relative;
    top:80px;
    left:35px;
    justify-content: space-evenly;
}
.y21,.y22,.y23,.y24,.y25{
    height:320px;
    width:210px;
    background-position:center;
    background-size: cover;
    border-radius: 7px;
}
.y21{
    background-image: url("img1.avif");
}
.y22{
    background-image: url("img2.avif");
}
.y23{
    background-image: url("img3.avif");
}
.y24{
    background-image: url("img4.avif");
}
.y25{
    background-image: url("img5.avif");
}
.y3{
    height:50px;
    display: flex;
    justify-content: space-around;
    font-size:18px;
    font-weight: 600;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    top:90px;
}
.y32{
    position:relative;
    left:32px;
}
.y33{
    position: relative;
    right:34px;
}
.y34{
    position: relative;
    right:55px;
}
.y35{
    position: relative;
    right:47px;
}
.y41,.y42,.y43,.y44,.y45{
    position: relative;
    bottom:20px;
    font-weight: 400;
    font-size: 17px;
    color: rgb(230, 227, 227);
}
.y41{
    right:37px;
}
.y42{
    right:70px;
}
.y43{
    right:95px;
}
.y44{
    right:125px;
}
.y45{
    right:140px;
}
.twelve{
    position:relative;
    top:210px;
    display:flex;
    align-items:center;
    height:70px;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
    color:white;
}
.u{
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:30px;
    padding: 15px;
}
#q{
    background-color: #EC5E71;
    height:40px;
    width:145px;
    border:none;
    border-radius:4px;
    color:aliceblue;
    position: relative;
    right: 50px;
    font-size:17px;
}
.thir{
    display:flex;
    height:80px;
    padding: 14px;
    background-color: rgb(49, 48, 48);
    position:relative;
    top:210px;
    justify-content: space-evenly;
    align-items:center;
    color:darkgray
}
#w{
    height:86px;
    width:200px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(172, 171, 171);
    align-items: center;
    font-size:15px;
}
#w i{
    font-size:35px;
}
#w:hover{
    cursor: pointer;
    color: white;
}



